.accountpage-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.accountpage-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.accountpage-container1 {
  flex: 0 0 auto;
  width: 349px;
  height: 359px;
  display: flex;
  align-self: flex-start;
  margin-top: 0px;
  align-items: space-between;
  flex-direction: column;
}
.accountpage-image {
  width: 286px;
  height: 309px;
  object-fit: cover;
}
.accountpage-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.accountpage-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.accountpage-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.accountpage-container5 {
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.accountpage-text {
  font-size: 3rem;
}
.accountpage-cpu {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.accountpage-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.accountpage-button:hover {
  transform: scale(1.02);
}
.accountpage-button1 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.accountpage-button1:hover {
  transform: scale(1.02);
}
.accountpage-text02:hover {
  transform: scale(1.02);
}
.accountpage-btn-group {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.accountpage-button2 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.accountpage-button2:hover {
  transform: scale(1.02);
}
.accountpage-button3 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.accountpage-button3:hover {
  transform: scale(1.02);
}
.accountpage-text05:hover {
  transform: scale(1.02);
}
.accountpage-btn-group1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.accountpage-button4 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.accountpage-button4:hover {
  transform: scale(1.02);
}
.accountpage-button5 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.accountpage-button5:hover {
  transform: scale(1.02);
}
.accountpage-text08:hover {
  transform: scale(1.02);
}
.accountpage-btn-group2 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.accountpage-navlink {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(243, 183, 9);
}
.accountpage-navlink:hover {
  transform: scale(1.02);
}
.accountpage-container6 {
  width: 761px;
  height: 1239px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.accountpage-producthistory {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
}
.accountpage-image1 {
  width: auto;
  object-fit: cover;
}
.accountpage-productcartinfo {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.accountpage-productname {
  width: 100%;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
.accountpage-productprice {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.accountpage-productquantity {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.accountpage-text12 {
  align-self: center;
  padding-right: var(--dl-space-space-oneandhalfunits);
}
.accountpage-producthistory1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
}
.accountpage-image2 {
  width: auto;
  object-fit: cover;
}
.accountpage-productcartinfo1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.accountpage-productname1 {
  width: 100%;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
.accountpage-productprice1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.accountpage-productquantity1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.accountpage-text15 {
  align-self: center;
  padding-right: var(--dl-space-space-oneandhalfunits);
}
.accountpage-producthistory2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
}
.accountpage-image3 {
  width: auto;
  object-fit: cover;
}
.accountpage-productcartinfo2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.accountpage-productname2 {
  width: 100%;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
.accountpage-productprice2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.accountpage-productquantity2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.accountpage-text18 {
  align-self: center;
  padding-right: var(--dl-space-space-oneandhalfunits);
}
@media(max-width: 991px) {
  .accountpage-hero {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .accountpage-image {
    order: 2;
  }
  .accountpage-container5 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .accountpage-text {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .accountpage-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .accountpage-image {
    width: 80%;
  }
}
@media(max-width: 479px) {
  .accountpage-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .accountpage-container5 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .accountpage-cpu {
    flex-direction: column;
  }
  .accountpage-button1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .accountpage-text02 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .accountpage-btn-group {
    flex-direction: column;
  }
  .accountpage-button3 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .accountpage-text05 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .accountpage-btn-group1 {
    flex-direction: column;
  }
  .accountpage-button5 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .accountpage-text08 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .accountpage-btn-group2 {
    flex-direction: column;
  }
}
