.loginpage-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.loginpage-container1 {
  width: 957px;
  height: 613px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.loginpage-text {
  height: auto;
  align-self: center;
  margin-left: var(--dl-space-space-fourunits);
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.loginpage-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.loginpage-account {
  margin-top: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-unit);
}
.loginpage-account1 {
  width: 267px;
}
.loginpage-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.loginpage-password {
  margin-top: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-unit);
}
.loginpage-password1 {
  width: 267px;
  height: auto;
}
.loginpage-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.loginpage-container5 {
  flex: 0 0 auto;
  width: 478px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginpage-navlink {
  color: #2d2b2b;
  width: auto;
  padding: 7px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  padding-top: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: #D9D9D9;
}
.loginpage-navlink1 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-fiveunits);
  padding-top: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: #9eeb9f;
}
.loginpage-text4 {
  color: var(--dl-color-gray-white);
  height: auto;
  align-self: flex-end;
  margin-top: var(--dl-space-space-unit);
  margin-left: 0px;
  padding-top: var(--dl-space-space-halfunit);
  margin-right: 0px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #62dcdf;
}
.loginpage-navlink2 {
  color: #f9f9f9;
  align-self: flex-end;
  margin-top: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: #4aa999;
}
