.productpage-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.productpage-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.productpage-container1 {
  flex: 0 0 auto;
  width: 25rem;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.productpage-image {
  width: 25rem;
  object-fit: cover;
}
.productpage-text {
  color: #fdf6f6;
  align-self: center;
  padding-top: 4px;
  padding-left: 4px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 4px;
  background-color: #cd1817;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.productpage-container2 {
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.productpage-text01 {
  font-size: 3rem;
}
.productpage-cpu {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.productpage-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.productpage-button:hover {
  transform: scale(1.02);
}
.productpage-button01 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.productpage-button01:hover {
  transform: scale(1.02);
}
.productpage-text03:hover {
  transform: scale(1.02);
}
.productpage-btn-group {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.productpage-button02 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.productpage-button02:hover {
  transform: scale(1.02);
}
.productpage-button03 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.productpage-button03:hover {
  transform: scale(1.02);
}
.productpage-text06:hover {
  transform: scale(1.02);
}
.productpage-btn-group1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.productpage-button04 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.productpage-button04:hover {
  transform: scale(1.02);
}
.productpage-button05 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.productpage-button05:hover {
  transform: scale(1.02);
}
.productpage-text09:hover {
  transform: scale(1.02);
}
.productpage-btn-group2 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.productpage-button06 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.productpage-button06:hover {
  transform: scale(1.02);
}
.productpage-button07 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.productpage-button07:hover {
  transform: scale(1.02);
}
.productpage-text12:hover {
  transform: scale(1.02);
}
.productpage-btn-group3 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.productpage-button08 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: #f3b709;
}
.productpage-button08:hover {
  transform: scale(1.02);
}
.productpage-button09 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: #76d636;
}
.productpage-button09:hover {
  transform: scale(1.02);
}
.productpage-text15:hover {
  transform: scale(1.02);
}
.productpage-text17 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-threeunits);
}
@media(max-width: 991px) {
  .productpage-hero {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .productpage-image {
    order: 2;
  }
  .productpage-container2 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .productpage-text01 {
    text-align: center;
  }
  .productpage-text17 {
    text-align: center;
    padding-left: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .productpage-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .productpage-image {
    width: 80%;
  }
}
@media(max-width: 479px) {
  .productpage-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .productpage-container2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .productpage-cpu {
    flex-direction: column;
  }
  .productpage-button01 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .productpage-text03 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .productpage-btn-group {
    flex-direction: column;
  }
  .productpage-button03 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .productpage-text06 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .productpage-btn-group1 {
    flex-direction: column;
  }
  .productpage-button05 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .productpage-text09 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .productpage-btn-group2 {
    flex-direction: column;
  }
  .productpage-button07 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .productpage-text12 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .productpage-btn-group3 {
    flex-direction: column;
  }
  .productpage-button09 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .productpage-text15 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .productpage-text17 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
