.nav-bar-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.nav-bar-navlink {
  display: contents;
}
.nav-bar-icon {
  width: 56px;
  height: 68px;
  text-decoration: none;
}
.nav-bar-nav {
  display: flex;
}
.nav-bar-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.nav-bar-login {
  cursor: pointer;
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.nav-bar-register {
  cursor: pointer;
  text-decoration: none;
}
.nav-bar-burger-menu {
  display: none;
}
.nav-bar-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.nav-bar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.nav-bar-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.nav-bar-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.nav-bar-image {
  height: 2rem;
}
.nav-bar-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.nav-bar-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.nav-bar-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.nav-bar-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}






@media(max-width: 767px) {
  .nav-bar-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .nav-bar-nav {
    display: none;
  }
  .nav-bar-btn-group {
    display: none;
  }
  .nav-bar-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .nav-bar-header {
    padding: var(--dl-space-space-unit);
  }
  .nav-bar-mobile-menu {
    padding: 16px;
  }
}
